<h2>DESCRIPTION</h2>

<em>r.stream.connectivity</em> identifies isolated or accessible clusters in a
river network based on a user defined slope threshold.

<h2>EXAMPLES</h2>

TBD

<h2>SEE ALSO</h2>

<em>
<a href="r.stream.slope.html">r.stream.slope</a>,
<a href="r.slope.direction.html">r.slope.direction</a>
<a href="r.stream.culvert.html">r.stream.culvert</a>
<a href="r.stream.carve.html">r.stream.carve</a>
<a href="r.stream.snap.html">r.stream.snap</a>
<a href="r.stream.snap_simple.html">r.stream.snap_simple</a>
</em>

<h2>AUTHORS</h2>

Stefan Blumentrath, Norwegian Institute for Nature Research (<a href="https://www.nina.no/">NINA</a>), Oslo, Norway<br>
Written for the INVAFISH project (RCN MILJ&Oslash;FORSK grant 243910)
